##  ┌──────────────────────────────────────────────────────────────────┐
##  │  ____    _    ____  _   _           _____ ___ _     _____ ____   │
##  │ | __ )  / \  / ___|| | | |         |  ___|_ _| |   | ____/ ___|  │
##  │ |  _ \ / _ \ \___ \| |_| |  _____  | |_   | || |   |  _| \___ \  │
##  │ | |_) / ___ \ ___) |  _  | |_____| |  _|  | || |___| |___ ___) | │
##  │ |____/_/   \_\____/|_| |_|         |_|   |___|_____|_____|____/  │
##  │                                                                  │
##  └──────────────────────────────────────────────────────────────────┘
##  ------------------------------------------------------------------------  ##
##                             GIT config options                             ##
##  ------------------------------------------------------------------------  ##
## a '#' or ';' character indicates a comment                                 ##
##  ------------------------------------------------------------------------  ##

; core variables
[core]
  ; Don't trust file modes
  filemode = false

; diff algorithm
[diff]
  external = /usr/local/bin/diff-wrapper
  renames = true

; HTTP
[http]
  sslVerify = false

[http "https://github.com"]
  sslVerify = false
  cookieFile = /tmp/git-cookie.txt

[user]
  email = tbaltrushaitis@gmail.com
  name  = "Baltrushaitis Tomas"

[alias]
  br  = branch
  dir = branch

  cd = checkout
  ch = checkout
  ci = commit
  co = commit

  dc = diff --cached
  df = diff

  lg   = log -p
  lol  = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  st = status

  # Show files ignored by git:
  ign = ls-files -o -i --exclude-standard

  mersq = merge --squash
  free  = branch -D

[branch]
  autosetupmerge = true

[push]
  default = simple #   simple, matching

[color]
  ui = auto   #   auto, true

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

# [commit]
#  template = ~/.commit-template

; Proxy settings
# [core]
#  gitproxy=proxy-command for kernel.org
#  gitproxy=default-proxy ; for all the rest

# [credential]
#  helper = cache --timeout=3600
